.text-light {
  color: var(--text-color);
}

.text-white {
  color: white;
}

.text-contrast {
  color:var(--contrast-color);
}

.text-dark {
  color: #212529;
}

.text-blue {
  color: #4ca9fb;
}

.bg-light {
  background-color: aliceblue;
}



