.text-light {
  color: var(--text-color);
}

.text-white {
  color: white;
}

.text-contrast {
  color:var(--contrast-color);
}

.text-dark {
  color: #212529;
}

.text-blue {
  color: #4ca9fb;
}

.text-purple {
  /* color: #57C7B8; */
  color: #B88AFF;
}

.text-orange {
  color: #FF9F43;
}

.bg-light {
  background-color: aliceblue;
}



