
:root {
  --background: rgb(41 41 46);
  --contrast-color:#00a1a1;
  --contrast-fade-color: #00a1a16e;
  --background-gradient: linear-gradient(rgba(25, 31, 50, 0.2), rgb(4 8 20 / 0.01)),
  rgb(4 8 20 / 0.8);
  --box-background: rgb(125 122 122 / 15%);
  --box-glow-color: transparent;
	--box-glow-blur: 20px;
  --box-shadow: inset 0 0px 24px 0 rgb(170 230 250 / 0.12);
  --box-shadow-contrast: inset 0 0 0 1px rgb(200 200 220 / 0.16),
		inset 0 0 5px -3px var(--contrast-color), inset 0 12px 48px 0 rgb(160 220 240 / 0.08),
		inset 0 0 120px -100px var(--contrast-color);

  --box-shadow-contrast-strong: 0 0 0 1px rgb(200 200 220 / 0.22),
		0 0 var(--box-glow-blur) var(--contrast-color),
		inset 0 0 26px -10px var(--contrast-color);
  --box-shadow-contrast-strong-active: 0 0 0 1px rgb(200 200 220 / 0.22),
		0 0 36px var(--contrast-color),
		inset 0 0 26px -10px var(--contrast-color);
  --text-color: gainsboro;
  --color-dark-blue: rgb(85, 89, 151);
}

/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 14px;
  scroll-behavior: smooth;
}

@media (max-width: 900px) {
  html{
    font-size: 12px;
  }
}

/* Typography */
body {
  font-family: 'Roboto', sans-serif;
  color: var(--text-color);
  background: var(--background);
  line-height: 1.6;
}


.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 2rem;
}

@media (max-width: 700px) {
  .container {
    padding: 1rem;
  }
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.h-fit-content {
  height: fit-content;
}

.x-y-center {
  margin: auto;
}

/* Projects Grid Styles */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 450px);
  gap: 2rem 2rem;
  justify-content: center;
  margin-top: 8rem;
}

.projects-title{
  text-align: left;
  grid-column: span 2; 
}

@media (max-width: 1024px) {
  .projects-title{
    grid-column: span 1; 
  }
}

@media (max-width: 520px) {
  .projects-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    margin-top: 0;
  }
}


.projects-title h1{
  line-height: 1.1;
}

/* Card Styles */
.project-card {
  background: var(--box-background);
  border: none;
  box-shadow:var(--box-shadow);

  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
}

.project-card:hover {
  transform: scale(1.03);
}

.project-card:hover,
.project-card:active{
  border: 1px solid var(--contrast-color);
  border-radius: 8px;
  box-shadow: var(--box-shadow-contrast-strong);
  cursor: pointer;
}

.project-card:active {
  box-shadow: var(--box-shadow-contrast-strong-active);
}

.project-card-info {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-align: left;
}

.project-card-title {
  line-height: 2rem;
}

.project-card-text {
  line-height: 1.7rem;
}

.project-card-img{
  width: 450px;
  height: 300px;
  display: block;
  object-fit:cover;
  object-position: center;
}

.project-card-logo{
  width: 40px;
  height: auto;
  display: inline;
  object-fit: contain;
  object-position: center;
}


/* Footer Styles */
.footer {
  background-color: var(--contrast-color);
  text-align: center;
}

.footer-line {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 3.5rem;
}

.footer-line .footer-logo-link{
  position: relative;
  height: 50px;
  width: 50px;
}

@media (max-width: 350px) {
  .footer-line ul {
    flex-direction: column;
  }
}


.footer-logo{
  width: 25px;
  height: auto;
  display: inline;
  object-fit: contain;
  object-position: center;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

ul {
  list-style-type: none; 
  display: flex;
  justify-content: center;
}

/*work section*/
.resume-container{
  text-align: left;
}

.resume-title{
  margin-top: 4rem;
}

@media (max-width: 520px) {
  .resume-title{
    margin-top: 0;
    margin-bottom: 4rem !important;
  }
}

.resume-subtitle{
  border-bottom: 1px solid;
}

.resume-item{
  display: flex;
  justify-content: left;
  flex-direction: row;
  gap: 2rem;
}

@media screen and (max-width: 700px) {
  .resume-item{
    display: flex;
    justify-content: left;
    flex-direction: column;
    gap: 0;
  }
}

.resume-item-dates{
  line-height: 3.3rem;
}

.work-results{
  display: block;
  list-style-type: none;
}

.home-container{
  text-align: left;
}

.home-title-section{
  display: flex;
  height: 100vh;
  flex-direction: column;
  /* gap: 2rem; */
  padding-top: 6rem;
  padding-bottom: 6rem;
}

@media screen and (max-width: 700px) {
  .home-title-section{
    display: flex;
    flex-direction: column;
    padding-top: 0;
    gap: 0;
    height: fit-content;
    padding-bottom: 6rem;
  }
}

.home-title{
  max-width: 900px;
}

.home-title-logo-container{
  display: flex;
  align-items: flex-start;
  gap: 2rem;
}

.home-title-logo-container a{
  display: flex;
  align-items: center;
  justify-content: center;
}


.home-title-button{
  cursor: pointer;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  box-shadow: var(--box-shadow-contrast);
  transition-duration: 0.5s;
}

.home-title-button:hover{
  box-shadow: var(--box-shadow-contrast-strong);
}


.home-title-logo{
  height: 2rem;
  width: 100%;
}

.home-title-link {
  text-decoration: none;
  transition-duration: 0.5s;
}

.home-title-link:hover{
  color: white;
}

/* main page grid in grid.css file */

.grid-box{
  border-radius: 8px;
  box-shadow: var(--box-shadow-contrast);
  
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.grid-box-link:hover,
.grid-box-link:active{
  border: 1px solid var(--contrast-color);
  border-radius: 8px;
  box-shadow: var(--box-shadow-contrast-strong);
}

.grid-box-link:active {
  box-shadow: var(--box-shadow-contrast-strong-active);
}

.grid-box-content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  height: 100%;
}

.content-center{
  justify-content: center;
}

.content-colm{
  flex-direction: row;
}

.grid-box-title{
  box-shadow: var(--box-shadow-contrast);
  border-radius: 30px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width:fit-content;
}

.grid-box-title img{
  width: 30px;
  height: 30px;
}

.tech-stack-container{
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.inline-evenly{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 2rem;
}

.certificate-box img{
  width: 80px;
  height: 80px;
}


.tech-stack-line{
  flex: 0 0 auto;
  height: 100px;
  position: relative;
  overflow: hidden;
  width: 800px;
}

.tech-stack-animation{
  align-items: center;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: infiniteLine;
  display: flex;
  height: 100%;
  position: absolute;
  width: 100%;
  overflow: hidden;
}

.tech-stack-animation-left{
  animation-name: infiniteLineLeft;
  left: 100%;
}

.animation-reverse{
  animation-name: infiniteLineReverse;
}

.tech-stack-animation-right{
  animation-name: infiniteLineReverseRight;
  left: -100%;
}

@keyframes infiniteLine {
  0% {
      left: 0;
  }
  100% {
    left: -100%;
  }
}

@keyframes infiniteLineReverse {
  0% {
      left: -100%;
  }
  100% {
    left: 0;
  }
}

@keyframes infiniteLineReverseRight {
  0% {
      left: 0;
  }
  100% {
    left: 100%;
  }
}

@keyframes infiniteLineLeft {
  0% {
      left: 100%;
  }
  100% {
    left: 0;
  }
}

.tech-stack-img-box{
  flex: 1 1 60px;
  margin: 20px;
  min-width: 60px;
}

.tech-stack-img{
  -o-object-fit: contain;
  object-fit: contain;
  opacity: .8;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  width: 100%;
}

.tech-stack-img img{
  vertical-align: middle;
}

.featured-container{
  background: url("../../public/images/featured.jpg");
  height: 400px;
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
  background-color: rgba(89, 75, 56, 0.6);
    background-blend-mode:darken;
}

.featured-logo {
  height: 100px;
}

.featured-container-inner{
  position: relative;
  top: 40%;
}

.featured-container h3{
  width: 100%;
  text-align: center;
  font-size: 2vh;
  font-family: Tahoma, sans-serif;
}

.featured-container-button-box{
  width: 100%;
  text-align: center;
}

.featured-container-button {
  background-color: #fdcb4b;
  color: #3e4145;
  border-style: none;
  border-radius: 50px;
  text-shadow: none;
  font-size: 1.25rem;
  border-color: #212529;
  font-weight: 700 !important;
  width:fit-content;
}

.grid-featured {
  scroll-behavior: smooth;
}

.grid-featured a{
  text-decoration: none;
  height: 100%;
  width: 100%;
}

.grid-projects {
  display: flex;
  flex-direction: column;
}

.grid-projects-line {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: none;
  height: 50%;
  box-shadow: var(--box-shadow-contrast);
}

.grid-projects-line:first-child {
  border-radius: 8px 8px 0 0;
}

.grid-projects-line:last-child {
  border-radius: 0 0 8px 8px;
}

.projects-description {
  line-height: 1.5;
}

/*simple underline link*/

.underline-link-box {
  text-decoration: none;
  display: flex;
}

.underline-link-arrow {
  display: flex;
  height: 100%;
}

.underline-link-arrow svg {
  width: 1rem;
}

.underline-link-text:after {
  transition: all ease-in-out .3s;
  background: none repeat scroll 0 0 var(--contrast-color);
  content: "";
  display: block;
  height: 2px;
  width: 0;
}

.footer-nav-item:after {
  background: none repeat scroll 0 0 var(--text-color);
}

.underline-link-box:hover .underline-link-text:after{
  width: 100%;
}


.grid-leetcode-stats,
.grid-algoexpert-stats{ 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.grid-leetcode-line {
  width: 100%;
  display: flex;
  flex-direction:row;
  justify-content: space-between;
}

.grid-leetcode-colm{
  min-width: 90px;
  display: flex;
  flex-direction:row;
  justify-content: space-between;
}

.width-30{
  width: 30%;
}

.stat-level-box{
  line-height: 1rem;
  border-radius: .5rem;
  background-color: var(--text-color);
}

.stat-level-easy{
  background-color: #1cbaba;
}

.stat-level-med {
  background-color: #ffb700;
}

.stat-level-hard{
  background-color: #f63737;
}

/*resume button*/
.two-line-button {
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  height: 100%;
}

.two-line-button-text-box {
  flex-grow: 1;
  z-index: 10;

  transition: background-position 0.5s ease;
  background-size: 200% 100%;
  background-image: linear-gradient(to right, transparent 50%, var(--box-background) 50%);
  background-position: 100% 0;

  display: flex;
  align-items: center;
}

.button-sub-text {
  opacity: 0.5;
  margin-bottom: 4px;
  transition: color 0.5s ease;
}

.arrow-container {
  position: relative; /* To use this div as reference for absolutely positioned arrow */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--box-background);
}
.arrow {
  display: flex;
  height: 100%;
}
.arrow svg {
  width: 1rem;
}

.two-line-button:hover {
  cursor: pointer;
}

.two-line-button:hover .two-line-button-text-box {
  background-position: 0 0;
}

.two-line-button:hover .button-sub-text {
  color: var(--contrast-color);
}

/* education */

.grid-education {
  background: url("../../public/images/math.jpg");
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
  background-color: rgba(89, 75, 56, 0.6);
  background-blend-mode:darken;
}

.grid-education-text{
  border-radius: 8px;
  box-shadow: var(--box-shadow-contrast);
}

.grid-education-text p:first-child {
  text-align: center;
  transition: 0.5s ease;
}

.grid-education-text p:last-child {
  text-align: center;
  transition: 0.5s ease;
}

.home-title-link .text-p {
  transition: 0.5s ease;
}

.home-title-link:hover .grid-all-projects-text p{
  font-size: 2rem;
}

/* seattle sun seeker */

.featured-article-link-container a{
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}


.featured-article-button{
  cursor: pointer;
  position: relative;
  display: inline-block;
  width: fit-content;
  border-radius: 30px;
  box-shadow: var(--box-shadow-contrast);
  transition-duration: 0.5s;
}

.featured-article-button:hover{
  box-shadow: var(--box-shadow-contrast-strong);
}

.image-box img{
  width: 100%;
}

.featured-article-logo{
  height: 1.5rem;
}

.tech-stack-ul {
  display: flex;
  justify-content: left;
  flex-direction: column;
  list-style-type: disc;
}

#job-libraries-table table{
  border-collapse: collapse;
}

#job-libraries-table td,
#job-libraries-table th { 
  border: 1px solid #eee; 
  padding: 1rem;
}

#job-libraries-table td span {
  display: block;
}

@media only screen and (max-width: 900px) {
	
	/* Force table to not be like tables anymore */
	#job-libraries-table table, 
	#job-libraries-table thead, 
	#job-libraries-table tbody, 
	#job-libraries-table th, 
	#job-libraries-table td, 
	#job-libraries-table tr { 
		display: block; 
	}
 
	/* Hide table headers (but not display: none;, for accessibility) */
	#job-libraries-table thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
 
	#job-libraries-table tr { border: 1px solid #ccc; }
 
	#job-libraries-table td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
		white-space: normal;
		text-align:left;
	}
 
	#job-libraries-table td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		left: 1rem;
		width: 45%;
		white-space: nowrap;
		text-align: left;
		font-weight: bold;
    color: white;
	}
 
	/*
	Label the data
	*/
	#job-libraries-table td:before { content: attr(data-title); }
}

.mongodb-collection-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.mongodb-collection-box {
  width: fit-content;
}

.mongodb-collection {
  width: fit-content;
  border: 1px solid var(--color-dark-blue);
}

.featured-content-wrapper {
  display: inline-flex;
}


.table-of-contents {
  flex: 0 0 17.5em;
  height: fit-content;
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
  border-radius: 8px;
  box-shadow: var(--box-shadow-contrast);
}

@media screen and (max-width: 700px) {
  .table-of-contents {
    display: none;
  }
}

.table-of-contents ul {
  display: flex;
  justify-content: left;
  flex-direction: column;
  list-style-type: none;
}

.table-of-contents a {
  text-decoration: none;
}

.table-of-contents a:hover{
  color: white;
}

.table-of-contents li {
  margin-bottom: 0.75rem;
}

.article-divider {
  position: relative;
  height: 1rem;

  &::before {
    content: " ";
    width: 100%;
    position: absolute;
    top: 0.8rem;
    z-index: -1;
    border-bottom: 1px solid var(--text-color);
  }
  
  .article-divider-text {
    display: inline-block;
    position: relative;
    margin: 0 4rem;

    &::after {
      content: " ";
      z-index: -1;
      height: 100%;
      width: 100%;
      padding-right: 1.5rem;
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      background: var(--background);
      animation: shrink 2.5s ease-in-out infinite alternate;
    }

    &::before {
      content: " ";
      z-index: -1;
      height: 100%;
      width: 100%;
      padding-right: 1.5rem;
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      background: var(--background);
      animation: shrink 2.5s ease-in-out infinite alternate;
    }
  }
}

.article-divider-text {
  color: white;
  animation: glow 2.5s ease-in-out infinite alternate;
}

@keyframes shrink {
  from { padding-right: 1.5rem; }
  to { padding-right: 0rem; }
}

@keyframes glow {
  from { 
    color: white; 
    font-size: 1rem;
  }
  to { 
    color: var(--background);
    font-size: 0.4rem; 
  }
}

