:root {
  --text-color-grey: #969595;
}

.title-h1 {
  font-size: 3rem;
}

.title-h2 {
  font-size: 2.5rem;
}

.title-h3 {
  font-size: 2rem;
}

.title-h4 {
  font-size: 1.7rem;
}

.text-p {
  font-size: 1.5rem;
}

.text-small {
  font-size: 1rem;
}

.text-lg {
  font-size: 1.75rem;
}

.text-xxl {
  font-size: 3rem;
}

.text-xxxl {
  font-size: 6rem;
}

.text-bold {
  font-weight: 700;
}

.text-grey {
  color: var(--text-color-grey);
}

.text-light {
  color: var(--text-color);
}

.text-dblue {
  color: var(--color-dark-blue);
}

.line-height {
  line-height: 1.5;
}

.weight-p {
  font-weight: 400;
}

.weight-700 {
  font-weight: 700;
}

.code-text {
  font-family: monospace;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-yes {
  color: chartreuse;
}

.text-no {
  color: red;
}

.no-wrap {
  white-space: nowrap;
}

.text-italic {
  font-style: italic;
}


